<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Insert title here</title>
  <link rel="stylesheet" href="NewFile.css">
</head>
<body>
  <div class="login-box">
    <section>
      <h2>Login</h2>
    </section>
    <form>
      <div class="user-box">
        <input type="text" name="username" required="">
        <label>User name</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" required="">
        <label>Password</label>
      </div>
      <a href="LOGIN">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a>
    </form>
  </div>
</body>
</html>
